.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 65px;
}

button {
    background-color: #16bd69;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-top: 1rem;
    font-size: 350px;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
